body{

	padding-left: 25px;
}

h1{
	text-align:center;
	color : #CC3300;
}

div.accordion div.accordion-group div.accordion-heading h4{
font-family: Helvetica;
color: #003399;
}

b{
	color : #CC3300;
}

.highlight
{
background-color:yellow;
}

